.formulaire {
	 margin: 1em auto;
	 max-width: 800px;
	 width: 95%;
	 font: 18px/1.5 sans-serif;
	 text-align: center;
}

.img_article { 
	height: 20%; width: 20%;
}

.texteGras {
	font-weight: bold; 
}

.espace{
	margin-bottom: 5%;
}

.media {
	width: 60rem;
	display: inline-block;
	flex-direction: column;
	flex-wrap: wrap;
}

.comment{
	text-align: center;
}

.formulaire{
	margin-top: 5%
}

.card{
	max-width: 70rem;
	margin-left: 10%;
}

/*body{
	background-image: url('/images/noir.jpg');
}*/