{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block s %}{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
	<link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
	<nav class="navbar navbar-dark bg-dark ajoutArticle">
		<form class="form-inline" method="get" action="http://127.0.0.1:8000">
			<button type="submit" class="btn btn-outline-success">Retour aux articles</button>
		</form>
		<span class="navbar-brand mb-0 h1 titlePage">Commentaires</span>
	</nav>
	<div class="card-header">Articles / Formulaire article</div>
	<div class="formulaire">
		<h3>Formulaire</h3>
		<div>
		 	{{ form(form) }}
		</div>
	</div>	

{% endblock %}